<!-- Registration Form -->
<form [formGroup]="registerForm">
  <!-- Name -->
  <app-input [inputFormControl]="name" placeholder="Enter Name" name="name" label="Name"></app-input>
  <!-- Email -->
  <app-input [inputFormControl]="email" placeholder="Enter Email" name="email" type="email" label="Email"></app-input>

  <!-- Age -->
  <app-input [inputFormControl]="age" placeholder="Enter Age" name="age" type="number" label="Age"></app-input>
  <!-- Password -->
  <app-input [inputFormControl]="password" placeholder="Enter Password" name="password" type="password" label="Password"></app-input>
  <!-- Confirm Password -->
  <app-input [inputFormControl]="confirmPassword" placeholder="Confirm Password" name="confirmPassword" type="password" label="Confirm Password"></app-input>
  <!-- Phone Number -->
  <div class="mb-3">
    <label class="inline-block mb-2">Phone Number</label>
    <input
      type="text"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Enter Phone Number"
      formControlName="phoneNumber"
    />
  </div>
  <button
    type="submit"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500"
  >
    Submit
  </button>
</form>
